<div class="mt-3 p-2 bg-secondary text-white rounded">
    <h1>Lazy Loading</h1>
</div>
<div class="card mt-2">
    <div class="card-body">
        <div class="row">
            <h1>This component is lazy loaded.</h1>
        </div>
        <div>
            <p>By default, NgModules are eagerly loaded. This means that as soon as the application loads, so do all the NgModules, whether they are immediately necessary or not. For large applications with lots of routes, consider lazy loading —a design pattern that loads NgModules as needed. Lazy loading helps keep initial bundle sizes smaller, which in turn helps decrease load times.</p>
        </div>
    </div>
</div>